<footer class="footer">
<p class="text-center" style="color: rgb(236,238,239);">© Copyright 2017 ccorcy / MATCHA</p>
</footer>
<script src="/js/jquery.min.js"></script>
<script src="/js/tether/dist/js/tether.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
