<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="/">Matcha</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/profile.html">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">My matches</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" id="login">
        <div class="form-group" id="usrn">
            <input type="text" name="usrn" class="form-control" placeholder="username" value="" style="margin-right:5px;">
        </div>
        <div class="form-group" id="pwd">
            <input id="input-password" type="password" name="password" class="form-control" placeholder="password" value="" style="margin-right:5px;">
        </div>
        <button type="submit" class="btn btn-success" style="margin-right:5px;">Log In</button>
        <button type="button" class="btn btn-primary" id="reg_button" style="margin-right:5px;">Register</button>
    </form>
  </div>
</nav>

<!--  id usrn / id pwd  -->
