<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>MATCHA</title>
<link href="https://fonts.googleapis.com/css?family=Pacifico|Satisfy|Hind|Open+Sans|Roboto" rel="stylesheet">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/sweetalert2.min.css">
