<script type="text/javascript">
const ws = new WebSocket("ws://localhost:3000/notif")
let alert_content = document.getElementById('alert_container')

function createNotif(sender, message) {
  if (message == "like") {
      alert_content.innerHTML = "<div style='display:inline' class='alert alert-info alert-dismissable notif'><a class='close' data-dismiss='alert' aria-label='close'>&times;</a><strong>" + sender + "</strong> likes you !"
  } else if (message == "match") {
    swal("YOU MATCH !", "You just match with " + sender, "success")
  } else if (message == "visite") {
    $.notify(sender + " visites you", "info")
  } else if (message == "message") {
    $.notify(sender + " sends you a message", "info")
  } else if (message == "dislike") {
    $.notify(sender + " does not like you anymore :(", "error")
  }
}

ws.onopen = () => {
  console.log("connection established with websocket server")
}
ws.onerror = (error) => {
  console.log("error")
}
ws.onmessage = (message) => {
  try {
    let msg = JSON.parse(message.data)
    createNotif(msg.sender, msg.msg)
  } catch (e) {
      console.log(e)
  }
}
</script>
