html {
  font-family: 'Open Sans', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: #FF5F6D;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFC371, #FF5F6D);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFC371, #FF5F6D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  color:#FF5F6D;
  font-family: 'Pacifico', sans-serif;
}

i {
  color: #FF5F6D;
}

.btn {

}

#biographie {
  color: #ec4755;
}

#reg_button, #log_button, .like_button, .dislike_button, #submit, #login_button, .matcha_button {
  color: #FF5F6D;
  background-color: initial;
  border-color: #FF5F6D;
  width: 100%;
}
#reg_button:hover, #log_button:hover, .like_button:hover, .dislike_button:hover, #submit:hover, #login_button:hover, .matcha_button:hover {
  color: rgb(236,238,239);
  background-color: #FF5F6D;
  border-color: rgb(236,238,239);
  width: 100%;
}

.like_button, .like_button:hover {
  font-size: 14px
}


.dislike_button, .dislike_button:hover {

  font-size: 14px
}

.pic {
  position: absolute;
  margin-top: -63px;
}

.name {
  color: rgb(221, 110, 17);
  background-color: rgba(252, 252, 252, 0.4);
  align: center;
}

.matcha_button {
  margin: 5px
}

.notif {
  position: fixed; top: 45px; left: 40%; z-index: 999; overflow: visible;
}
