<html>
    <!DOCTYPE html>
    <head>
        <% include ../partials/head %>
    </head>
    <body>
        <header>
            <% include ../partials/header %>
        </header>
        <main>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4">
                         <h1>Bonjour <%= name %></h1>
                         <p>lorem ipsum</p>
                    </div>
                </div>
            </div>
        </main>
        <% include ../partials/footer %>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <% include ../partials/login_script %>
    </body>

</html>
